#world {
	position: absolute;
	width: 100%;
	height: 100%;
	overflow: hidden;
	background: linear-gradient(#e4e0ba, #f7d9aa);
}

#players {
	z-index: 1; 
	position: absolute;
	top: 0;
	width: 100%;
	height: 90px;
}

#msg {
	z-index: 1; 
	position: absolute;
	bottom: 0;
	width: 100%;
	height: 60px;
}

#variabili_locali {
	color: brown;
}

#messaggi_mqtt {
	color: darkgreen;
}


/* background: #FFFFFF; */
/* opacity:0.6; */
